/modelo_huellas/build/
/modelo_huellas/dist/
/modelo_huellas/nbproject/private/
/controller_huellas/build/
/controller_huellas/dist/
/controller_huellas/nbproject/private/
/Principal/controller_huellas/build/
/Principal/controller_huellas/dist/
/Principal/controller_huellas/nbproject/private/
/Principal/modelo_huellas/build/
